# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# API keys and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Output files
output/*
!output/.gitkeep

# Models
models/*
!models/.gitkeep

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo